.mapLayerSelectedText, 
.mapLayerPopoverItemText { 
    /* hide texts in maplayer select */
    display: none; 
}

.noPadding {
    padding: 0 !important;
}

.sapFDynamicPageContent,
.sapFDynamicPageContentFitContainer {
    /* no initial padding in dynamic page content */
    padding: 0 !important;
}